.hawk-animated {
    animation-delay: .35s;
    -moz-animation-delay: .35s;
    -o-animation-delay: .35s;
    -webkit-animation-delay: .35s;
}

.laptop-animated {
    animation-delay: .75s;
    -moz-animation-delay: .65s;
    -o-animation-delay: .65s;
    -webkit-animation-delay: .65s;
}

.last-animated {
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}