// Global styling for this template
body {
    overflow-x: hidden;
    @include body-font;
}

p {
    line-height: 1.75;
}

a {
    color: $black;
    &:hover {
        // color: darken($primary, 10%);
        text-decoration: underline;
    }
}

.text-primary {
    color: $primary !important;
}

.text-circles {
    color: $secondary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    @include heading-font;
}

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 50px;
        text-transform: none;
        @include serif-font;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

@media(max-width:960px) {
    section {
        h2.section-heading {
            font-size: 32px;
        }
    }
}

// Button Styles
.btn {
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: $gray-400;
    border-color: $gray-700;
    &:active,
    &:focus,
    &:hover {
        background-color: darken($primary, 7.5%) !important;
        border-color: darken($gray-500, 7.5%) !important;
        color: white;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5) !important;
    }
}

// Highlight color customization
::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

// Get rid of animation on small screens
@media (max-width: 767px) {
    h1 {
        font-size: 80%;
        font-weight: 500;
    }
    p {
        font-size: 0.9em;
    }
}

@media (max-width: 599px) {
    .py-5 {
        display: none;
    }
}

.hawk-animated {
    animation-delay: .35s;
    -moz-animation-delay: .35s;
    -o-animation-delay: .35s;
    -webkit-animation-delay: .35s;
}

.laptop-animated {
    animation-delay: .75s;
    -moz-animation-delay: .65s;
    -o-animation-delay: .65s;
    -webkit-animation-delay: .65s;
}

.last-animated {
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}