// Styling for the masthead
header.masthead {
    color: RGBA(5, 10, 136, 1);
    text-align: center;
    background-image: url('../img/apple.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center; // height: 100vh;
    @include background-cover;
    .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-lead-in {
            font-size: 32px;
            font-style: italic;
            font-weight: bold;
            line-height: 42px;
            margin-bottom: 25px;
            @include sans-serif-font;
        }
        .intro-heading {
            font-size: 24px;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 25px;
            @include heading-font;
        }
    }
}

@media(min-width:1200px) {
    header.masthead {
        height: 100vh;
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            margin-right: 25em;
            text-align: left;
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                font-size: 40px;
                font-style: italic;
                line-height: 40px; // margin-bottom: 25px; 
                // @include serif-font;
            }
            .intro-heading {
                // font-size: 24px;
                // font-weight: 400;
                // line-height: 35px;
                margin-bottom: 50px; // @include heading-font;
            }
        }
    }
}